$myPink: rgb(242, 17, 112);
$myCoral: rgb(251, 54, 64);
$myPurple: rgb(84, 46, 113);
$myCream: rgb(255, 243, 228);
$myBlack:  rgb(27, 38, 44);
$myBlue: rgb(0, 157, 174);
$myYellow: rgb(254, 228, 64);
$myGreen: rgb(47, 221, 146);
